<H2>Подитоги</H2>
<form ACTION=?rep={$report_id}&step={$step} METHOD=POST>
{html_radios name='subtotal_id' output=$listname values=$listid checked=$subtotalselected separator='<br/>'}
{include file='steps.tpl'}
</form>
