<H2>Порядок</H2>
<form ACTION=?rep={$report_id}&step={$step} METHOD=POST>
<TABLE>
<TR>
<TD>
Поле
</TD>
<TD>
Направление сортировки
</TD>
</TR>
{section name=main loop=$res}
<TR>
<TD align=right>
{$res[main].field_name}:
</TD>
<TD>
<SELECT NAME='orderby[{$res[main].field_id}]'>
{html_options output=$listname values=$listid selected=$res[main].dir}
</SELECT>                                                       
</TD>
</TR>
{/section}
</TABLE>
{include file='steps.tpl'}
</form>
